.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    gap: 1.8rem;
    margin-bottom: 4rem;

    .text {
        font-size: 1.8rem;
        color: #0098EA;
        font-weight: 700;
        white-space: nowrap;
    }
}