* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, Tahoma, Verdana, sans-serif;
}

body {  
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/assets/bg.jpg");
  background-size: 50px;
  color: #fafafa;
  overflow-x: hidden;
}

